{
    "ft_url_prefix": "https://sctapi.ftqq.com/SCTtitle=",
    "platform": "pc",
    "app_img_offset": [
        0,
        0
    ],
    "app_img_wh": [
        1280,
        720
    ],
    "start_time": "01:00",
    "stop_time": "02:00",
    "do_festival": false,
    "do_rank": true
}